.carritoIcon i {
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--bs-navbar-brand-color);
}

.carritoIcon span {
    color: var(--bs-navbar-brand-color);
}

.carritoProducto {
    margin-bottom: 2rem;
}