.me-auto a {
    text-decoration: none;
    color: gray;
    margin-right: .5rem;
    font-size: 1.1rem;
}

a {
    text-decoration: none !important;
}

.me-auto .active {
    color: var(--bs-navbar-brand-color);
}